header{
margin: 40px;
background-color: rgb(221, 120, 213); 
text-size-adjust:85px;
justify-content: center;
border:solid 4px rgb(160, 160, 160)
padding 20px

}

body{
    background-color: rgba(255, 0, 149, 0.473);
    color: rgb(0, 0, 0);
}

section{
background-color: rgb(196, 154, 231);
margin: 40px;
display: flex;
padding-left:40px ;

}

